In [1]:
import pandas as pd

In [7]:
data = pd.read_xml("./database/posts.xml")

In [8]:
data.shape

(85123, 20)

In [17]:
df_sorted = data.sort_values('CreationDate')

In [20]:
df_sorted.head(2)

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ParentId,ClosedDate,CommunityOwnedDate
12974,17463,1,17467.0,2008-08-05T16:54:00.433,64,3724.0,<p>I have a folder with lists of code snippets...,137775.0,131713.0,Gnome,2010-12-03T22:37:15.207,2011-06-14T12:30:45.370,Should I ask a question I know the answer to?,<support><faq><etiquette><asking-questions><se...,19.0,1.0,9.0,NaN,None,2010-12-05T06:06:10.473
12975,17464,2,NaN,2008-08-05T16:55:30.790,18,NaN,<p>I think it's poor etiquette to not change t...,131695.0,143411.0,NaN,2011-06-14T12:30:45.370,2011-06-14T12:30:45.370,None,None,NaN,1.0,NaN,17463.0,None,2010-12-05T06:06:10.473

In [21]:
df_sorted.tail(2)

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ParentId,ClosedDate,CommunityOwnedDate
85117,104648,2,NaN,2011-08-31T23:48:25.123,0,NaN,<p>Questions can be protected by 15k users too...,140449.0,156902.0,NaN,2011-09-01T02:14:57.517,2011-09-01T02:14:57.517,None,None,NaN,NaN,NaN,104489.0,None,None
85118,104649,2,NaN,2011-08-31T23:53:51.217,4,NaN,<p>It works also for who edits a question and ...,140449.0,140449.0,NaN,2011-09-01T05:29:43.097,2011-09-01T05:29:43.097,None,None,NaN,2.0,NaN,104645.0,None,None

In [9]:
questions = data[data['PostTypeId']==1]

In [10]:
len(questions)

26865

In [11]:
data['PostTypeId'].value_counts()

2    57720
1    26865
5      251
4      251
8       25
3       11
Name: PostTypeId, dtype: int64

In [12]:
users = pd.read_xml("./database/users.xml")

In [13]:
len(users)

31535

In [22]:
users.head(1)

,Id,Reputation,CreationDate,DisplayName,EmailHash,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,Age
0,-1,27,2009-06-27T00:00:00.000,Community,a007be5a61f6aa8f3e85ae2fc18dd66e,2008-07-31T00:00:00.000,http://meta.stackoverflow.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",1,47342,1716,NaN

In [23]:
users['Reputation'].max()

155059

In [24]:
users['Reputation'].min()

1

In [25]:
df_votes = pd.read_xml("./database/votes.xml")

In [26]:
df_votes.head(1)

   Id  PostId  VoteTypeId CreationDate  UserId  BountyAmount
0   1       2           2   2009-06-28     NaN           NaN

In [29]:
df_votes.shape

(588761, 6)

In [28]:
df_votes['VoteTypeId'].value_counts()

2     482957
3      53293
5      16758
1      14323
10     11358
15      4417
6       2293
16      1253
11       786
8        625
9        620
7         34
4         28
12        16
Name: VoteTypeId, dtype: int64

In [32]:
accepted = df_votes[df_votes['VoteTypeId']==2]

In [33]:
accepted.head(2)

   Id  PostId  VoteTypeId CreationDate  UserId  BountyAmount
0   1       2           2   2009-06-28     NaN           NaN
1   2       1           2   2009-06-28     NaN           NaN