In [1]:
import pandas as pd

In [2]:
data = pd.read_xml("./updated_database/posts.xml")

In [3]:
data.shape

(308300, 22)

In [4]:
df_sorted = data.sort_values('CreationDate')

In [5]:
df_sorted.head(2)

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Tags,AnswerCount,CommentCount,FavoriteCount,ContentLicense,ParentId,LastEditorDisplayName,OwnerDisplayName,CommunityOwnedDate,ClosedDate
0,1,1,2.0,2015-10-29T15:56:52.933,33,520.0,<p>Estoy creando un servicio usando <em>ASP.NE...,23.0,13558.0,2019-07-07T21:36:17.737,...,<.net><asp.net-web-api><asp.net>,1.0,2,4.0,CC BY-SA 4.0,NaN,None,None,None,None
1,2,2,NaN,2015-10-29T19:14:23.673,26,NaN,<p>He encontrado la solución.</p>\n\n<p>Result...,23.0,NaN,None,...,None,NaN,2,NaN,CC BY-SA 3.0,1.0,None,None,None,None

In [6]:
df_sorted.tail(2)

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Tags,AnswerCount,CommentCount,FavoriteCount,ContentLicense,ParentId,LastEditorDisplayName,OwnerDisplayName,CommunityOwnedDate,ClosedDate
308298,431641,1,NaN,2021-02-28T02:33:33.357,0,2.0,<p>Estoy tratando de crear un script en powers...,144334.0,NaN,None,...,<script><email><powershell><codificación><outl...,0.0,0,NaN,CC BY-SA 4.0,NaN,None,None,None,None
308299,431642,1,NaN,2021-02-28T02:50:40.080,0,3.0,<p>Estoy realizando un tabla maestro detalle ...,207109.0,NaN,None,...,<sql-server><stored-procedure>,0.0,0,NaN,CC BY-SA 4.0,NaN,None,None,None,None

In [7]:
questions = data[data['PostTypeId']==1]

In [8]:
len(questions)

145623

In [9]:
data['PostTypeId'].value_counts()

2    159308
1    145623
5      1672
4      1672
6        23
7         2
Name: PostTypeId, dtype: int64

In [10]:
users = pd.read_xml("./updated_database/users.xml")

In [11]:
len(users)

197836

In [12]:
users.head(1)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl
0,-1,1,2015-10-26T21:36:24.767,Comunidad,2015-10-26T21:36:24.767,NaN,en la granja de servidores,"<p>Hola, no soy una persona real.</p>\n\n<p>¡S...",251,9652,17781,-1.0,None

In [13]:
users['Reputation'].max()

91715

In [14]:
users['Reputation'].min()

1

In [15]:
df_votes = pd.read_xml("./updated_database/votes.xml")

In [16]:
df_votes.head(1)

   Id  PostId  VoteTypeId             CreationDate  UserId  BountyAmount
0   1       1           2  2015-10-29T00:00:00.000     NaN           NaN

In [17]:
df_votes.shape

(628897, 6)

In [18]:
df_votes['VoteTypeId'].value_counts()

2     329266
3      95881
1      62007
10     47813
16     40618
15     24294
5      22758
11      3832
8       1169
9       1163
4         52
12        44
Name: VoteTypeId, dtype: int64

In [19]:
accepted = df_votes[df_votes['VoteTypeId']==2]

In [20]:
accepted.head(2)

   Id  PostId  VoteTypeId             CreationDate  UserId  BountyAmount
0   1       1           2  2015-10-29T00:00:00.000     NaN           NaN
1   2       2           2  2015-10-29T00:00:00.000     NaN           NaN